// Place all the styles related to the cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
	background:#3B5998;
	font-size:80px;
	color:#fff;
	font-family:'Roboto Condensed';

}